.welcome-main {
	text-align: center;
	padding-top: 10%;
}

.dataTables_wrapper{
	padding-left: 10%;
    padding-right: 10%;
}
.createLink{
	padding-left: 5%;
	
}
#calendar{
	padding-left: 5%;
    padding-right: 5%;
}
.fc-time{
	display: none !important;
}
.has-error {
    color: red
}
html{
	height: 100%;
}
body{
	height: 100%;
    display: flex;
    flex-direction: column;
}
footer{
	flex-shrink: 0;
}
.page-content{
	flex: 1 0 auto;
}
